body {
  overflow: hidden; // enlever tout ce qui dépasse du body
  min-height: 100vh;
  cursor: crosshair;
}

/* .bubble va définir le style de départ de nos bubble */
.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgba(255, 166, 0, 0.6);
  opacity: 0;
  animation: anim 8s forwards;
  filter: hue-rotate(0deg);
}

@keyframes anim {
  to {
    top: -280px;
    opacity: 1;
    filter: hue-rotate(720deg); // changement de couleur sur la roue chromatique
    left: var(--left); // on inject une variable pour pouvoir la pointer en JS
  }
}
/* attention l'ordre des propriété du @keyframe influ sur le rendu final !  */

h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: rgba(128, 128, 128, 0.555);
}
